body {
  font-family:
    "Inter",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Helvetica,
    Arial,
    sans-serif;
}

.whole {
  background-color: #0a0a0a;
  margin-left: 80px;
  margin-right: 80px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 24px;
}

.nav-center {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 34px;
}

.nav-center a {
  text-decoration: none;
  color: #ccc;
  font-size: small;
}

.nav-right a {
  border-radius: 20px;
  text-decoration: none;
  margin-left: 16px;
  padding: 8px 18px;
  border: #ccc;
  border-style: solid;
}

.flat-button {
  color: #ccc;
}

.button {
  background: #ccc;
  color: #0a0a0a;
}
